#app2 .tabBar {
  display: flex;
}
#app2 .tabBar > li {
  border: 3px solid black;
  width: 50%;
}
#app2 .tabBar > li.selected {
  background: #ddedea;
}
#app2 .tabContent > li {
  display: none;
}
#app2 .tabContent > li.active {
  display: block;
}
